@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FAFAF8;
  --foreground: #171717;
  --font-inter: var(--font-inter);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), system-ui, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
